<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars CRUD</title>
</head>
<body>
    <h1>CRUD de pessoas - Handlebars</h1>

    <a href="/pessoas">Listar Pessoas</a>
    <a href="/pessoas/nova">Cadastrar Pessoa</a>
</body>
</html>